/* General Element Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e8eae6; /* Soft beige background */
    padding: 20px;
    color: #3e4c59; /* Earthy text color */
    text-align: center;
}

h1, h4, h5 {
    color: #5a836e; /* Sage green for headers */
    font-family: 'Arial', sans-serif;
    margin-bottom: 10px; /* Space below the heading */
}

h1 {
    text-align: center;
}

h5 {
    margin-top: 0px; /* Space above the heading */
}

h4 {
    text-align: left;
    font-size: 25px;
}

a {
    text-decoration: none;
}

/* Button Styles */
a button {
    background-color: #a1c9af; /* Muted sage green button */
    color: white; /* White text for contrast */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Adequate padding for comfort */
    margin: 5px; /* Margin around buttons */
    border-radius: 5px; /* Rounded corners for a softer look */
    cursor: pointer; /* Cursor changes to indicate it's clickable */
    font-family: Arial, sans-serif; /* Consistent font with the theme */
    font-size: 1em; /* Adequate text size */
    text-decoration: none; /* Remove underline from links */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Button Hover State */
a button:hover {
    background-color: #89b09c; /* Slightly darker shade for hover state */
} 

div {
    font-family: Arial, sans-serif;
    background-color: #e8eae6;
    padding: 0px;
    color: #3e4c59;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px; /* Adjusted margin */
    border-radius: 10px; /* Added border-radius for a rounded look */
}