/* General Element Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #e8eae6; /* Soft beige background */
    padding: 20px;
    color: #3e4c59; /* Earthy text color */
    text-align: center;
}

h2, h1, h5 {
    color: #5a836e; /* Sage green for headers */
    font-family: 'Arial', sans-serif;
    margin-bottom: 10px; /* Space below the heading */
}

h1 {
    text-align: center;
}

h5 {
    margin-top: 20px; /* Space above the heading */
}

a {
    text-decoration: none;
}

/* Button Styles */
a button {
    background-color: #a1c9af; /* Muted sage green button */
    color: white; /* White text for contrast */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Adequate padding for comfort */
    margin: 5px; /* Margin around buttons */
    border-radius: 5px; /* Rounded corners for a softer look */
    cursor: pointer; /* Cursor changes to indicate it's clickable */
    font-family: Arial, sans-serif; /* Consistent font with the theme */
    font-size: 1em; /* Adequate text size */
    text-decoration: none; /* Remove underline from links */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Button Hover State */
a button:hover {
    background-color: #89b09c; /* Slightly darker shade for hover state */
}

.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.typing {
    font-size: 140px;
    border-right: 3px solid #5a836e; /* Sage green cursor simulation */
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(15) 0.2s 1, blink-caret .5s step-end 5 forwards;
    animation-fill-mode: forwards;
}

@keyframes typing {
    from { width: 0; }
    to { width: 18ch; } /* Adjusted to the actual character count */
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}