body {
    font-family: Arial, sans-serif; /* Consistent font style */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e8eae6; /* Soft beige background */
    color: #5a836e; /* Sage green text color */
}

.typing {
    font-size: 24px;
    border-right: 3px solid #5a836e; /* Sage green cursor simulation */
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 3s steps(15) 0.5s forwards, blink-caret .5s step-end 15;

}

@keyframes typing {
    from { width: 0; }
    to { width: 14ch; } /* Adjusted to the actual character count */
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}
