{% extends "layout.html" %}

{% block title %}
    Breathing
{% endblock %}

{% block body %}
    <h1>breathing</h1>
    <h5>take a deep breath — in and out, in and out.</h5>

    <div id="container">
        <div id="breath">
            <span class="breathe-message">Breathe In</span>
        </div>
    </div>

    <script>
        function toggleBreatheMessage() {
            const breatheMessage = document.querySelector('.breathe-message');

            if (breatheMessage.innerText === 'Breathe In') {
                breatheMessage.innerText = 'Breathe Out';
            } else {
                breatheMessage.innerText = 'Breathe In';
            }
        }

        function changeBreatheMessage() {
            toggleBreatheMessage();
            setTimeout(changeBreatheMessage, 3000); // Change every 3 seconds
        }

        // Initial call to start the loop
        setTimeout(changeBreatheMessage, 3000);
    </script>
{% endblock %}