<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static\educational-resources.css">
    <title>Grounding</title>
</head>
<body>
    <a href="/homepage">
        <h1>serenityspace</h1>
    </a>
    <a href="/breathing">
        <button type="button">breathing</button>
    </a>
    <a href="/grounding">
        <button type="button">grounding</button>
    </a>
    <a href="/journaling">
        <button type="button">journaling</button>
    </a>
    <a href="/doodling">
        <button type="button">doodling</button>
    </a>
    <a href="/educational-resources">
        <button type="button">resources</button>
    </a>
    <h1>resources</h1>
</body>
</html>
