<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static\grounded.css">
    <title>Grounding</title>
</head>
<body>
    <a href="/homepage">
        <h1>serenityspace</h1>
    </a>
    <a href="/breathing">
        <button type="button">breathing</button>
    </a>
    <a href="/grounding">
        <button type="button">grounding</button>
    </a>
    <a href="/journaling">
        <button type="button">journaling</button>
    </a>
    <a href="/doodling">
        <button type="button">doodling</button>
    </a>
    <a href="/educational-resources">
        <button type="button">resources</button>
    </a>
    <h1>grounding</h1>
    <h5>bring yourself back into the present.</h5>

    <div class="text-field-container">
        <h4>5 things you can see: {{ response1 }}</h4>
    </div>

    <div class="text-field-container">
        <h4>4 things you can touch: {{ response2 }}</h4>
    </div>

    <div class="text-field-container">
        <h4>3 things you can hear: {{ response3 }}</h4>
    </div>

    <div class="text-field-container">
        <h4>2 things you can smell: {{ response4 }} </h4>
    </div>

    <div class="text-field-container">
        <h4>1 thing you can taste: {{ response5 }}</h4>
    </div>
</body>
</html>
