{% extends "layout.html" %}

{% block title %}
    Grounded
{% endblock %}

<!-- display user answers to grounding questions -->
{% block body %}
    <h1>grounding</h1>
    <h5>bring yourself back into the present.</h5>

    <table class="grounding">
        <tr>
            <td>
                <b>5 things you can see:</b>
                    <a button class="button">{{ response1 }}</a>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <b>4 things you can touch:</b>
                    <a button class="button">{{ response2 }}</a>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <b>3 things you can hear:</b>
                    <a button class="button">{{ response3 }}</a>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <b>2 things you can smell:</b>
                    <a button class="button">{{ response4 }}</a>
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <b>1 things you can taste:</b>
                    <a button class="button">{{ response5 }}</a>
                <br>
            </td>
        </tr>
    </table>
{% endblock %}