{% extends "layout.html" %}

{% block title %}
    Grounding
{% endblock %}

{% block body %}
    <h1>grounding</h1>
    <h5>bring yourself back into the present.</h5>

    <form action="/grounding" method="post">
        <div class="text-field-container">
            <h4>5 things you can see:       </h4>
            <input type="text" class="custom-text-field" name="see" required>
        </div>

        <div class="text-field-container">
            <h4>4 things you can touch:      </h4>
            <input type="text" class="custom-text-field" name="touch" required>
        </div>

        <div class="text-field-container">
            <h4>3 things you can hear:</h4>
            <input type="text" class="custom-text-field" name="hear" required>
        </div>

        <div class="text-field-container">
            <h4>2 things you can smell:     </h4>
            <input type="text" class="custom-text-field" name="smell" required>
        </div>

        <div class="text-field-container">
            <h4>1 thing you can taste:     </h4>
            <input type="text" class="custom-text-field" name="taste" required>
        </div>
        <div>
            <button id="submit-btn">Submit</button>
        </div>
    </form>
{% endblock %}