<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="static/homepage.css">
    <meta charset="UTF-8"> 
</head>
<body>
    <a href="/homepage">
        <h1>serenityspace</h1>
    </a>
    <a href="/breathing">
        <button type="button">breathing</button>
    </a>
    <a href="/grounding">
        <button type="button">grounding</button>
    </a>
    <a href="/journaling">
        <button type="button">journaling</button>
    </a>
    <a href="/doodling">
        <button type="button">doodling</button>
    </a>
    <a href="/educational-resources">
        <button type="button">resources</button>
    </a>
    
    <div class="typing-container">
        <span class="typing">A space for you :)</span>
    </div>
</body>
</html>

