<!DOCTYPE html>
<html>
<head>
    <title>Journaling</title>
    <link rel="stylesheet" type="text/css" href="static\journaling.css">
</head>

<body>
    <a href="/homepage">
        <h1>serenityspace</h1>
    </a>
    <a href="/breathing">
        <button type="button">breathing</button>
    </a>
    <a href="/grounding">
        <button type="button">grounding</button>
    </a>
    <a href="/journaling">
        <button type="button">journaling</button>
    </a>
    <a href="/doodling">
        <button type="button">doodling</button>
    </a>
    <a href="/educational-resources">
        <button type="button">resources</button>
    </a>

    <h1>journaling</h1>
    <h5>express your thoughts freely here...  </h5>
    
    

    <!-- Journaling Form -->
    <form action="/submit_journal" method="post">
        <label for="journalEntry">journal entry:</label>
        <textarea id="journalEntry" name="journalEntry" rows="4" cols="50"></textarea><br>
        <input type="submit" value="submit">
    </form>
    <a href="/journal-board" class="button-style">view journal board</a>
</body>
</html>
