<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="static\styles.css">
        <link rel="shortcut icon" type="image/png" href="static/images/icon.png">
        <title>serenityspace: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <a href="/homepage">
            <h1>serenityspace</h1>
        </a>
        <a href="/breathing">
            <button type="button">breathing</button>
        </a>
        <a href="/grounding">
            <button type="button">grounding</button>
        </a>
        <a href="/journaling">
            <button type="button">journaling</button>
        </a>
        <a href="/doodling">
            <button type="button">doodling</button>
        </a>
        <a href="/educational-resources">
            <button type="button">resources</button>
        </a>

        {% block body %}{% endblock %}
    </body>
</html>
