<!-- Extend the base layout template -->
{% extends "layout.html" %}

{% block title %}
    Doodling
{% endblock %}

{% block body %}
    
    <h1>my sketch book &lt;3</h1>
    <h5>a collection of my favorite drawings~</h5>

    <!-- Link to go back to the doodling page -->
    <a href="/doodling" class="button-style">back to doodling</a>

    <!-- Container for displaying sketches -->
    <div class="sketches-board">
        <!-- Loop through each doodle and create a canvas for it -->
        {% for doodle in doodles %}
            <div class="sketch-entry">
                <canvas id="sketch{{ doodle.id }}"></canvas>
            </div>
        {% endfor %}
    </div>
    
    <!-- Hidden div to store JSON data of doodles -->
    <div id="doodleData" style="display: none;">
        {{ doodles | map(attribute='data') | list | tojson | safe }}
    </div>

    <!-- JavaScript to render sketches on the canvas elements -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Retrieve JSON data from the hidden div
            var doodleDataElement = document.getElementById('doodleData');
            var doodlesData = JSON.parse(doodleDataElement.textContent);
            
            // Reverse the order of the doodles
            doodlesData.reverse(); 
            doodlesData.forEach(function(doodleDataStr, index) {
                if (doodleDataStr) {
                    // Parse each individual doodle data string
                    var doodleData = JSON.parse(doodleDataStr);
                    var canvas = document.getElementById('sketch' + (index + 1));
                    if (!canvas) {
                        // Error handling if canvas not found
                        console.error('Canvas not found for index:', index);
                        return;
                    }
    
                    // Setup and render each line of the doodle on the canvas
                    var ctx = canvas.getContext('2d');
                    canvas.width = 800;
                    canvas.height = 500;
    
                    doodleData.forEach(function(line) {
                        ctx.beginPath();
                        ctx.strokeStyle = line.color;
                        ctx.moveTo(line.points[0].x, line.points[0].y);
                        line.points.forEach(function(point) {
                            ctx.lineTo(point.x, point.y);
                        });
                        ctx.stroke();
                    });
                }
            });
        });
    </script>
{% endblock %}
